@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*creando variable con root*/
:root{
    --color-primario:#081534;
    --color-secundario:#F6F6F6;
    --color-terceario:#22D4FD;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona:'Krona One', sans-serif;

}
*{
    padding: 0;
    margin: 0;
    
}
/* 100% == 16px and 150 = 24px*/
body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--color-primario) ;
    color:  var(--color-secundario);
}
.header{
    /*top/right/botom/left*/
    padding: 2% 0% 0% 15%;
    

}
.header_menu{
    display: flex;
    gap: 80px;
}
.header_menu_link{
    font-family: var(--color-primario);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-terceario);
    text-decoration: none;
}

.presentacion{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px; /*para el espacio entre la foto y seccion*/
}

.presentacion_contenido{
    /* width: 615px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_title{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.title-destaque {
    color: var(--color-terceario);
}

.presentacion_contenido_texto{
    font-size: 1.5rem;/*Crt +f cambiamos a 24 px a 1.5Rem*/
    font-family: "Montserrat", sans-serif;
}

.presentacion_enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.presentacion_enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 1.5rem;
}
.presentacion_enlaces_link{
    /* background-color: #22D4FD; */
    /* width: 378px; */
    width: 50%;
    text-align: center; 
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    border: 2px solid var(--color-terceario);
    /*para los logos*/
    display: flex;
    justify-content: center;
    gap: 10px;
}
/*cambiar de color al boton cuando pasa el cursor*/
.presentacion_enlaces_link:hover{
    background-color: #272727;
}

/* 100% == 16px and 150 = 24px*/
.presentacion_imagen{
    width: 40%;
    border-radius: 30.5rem;
    border: 2px solid #F6F6F6;
    
}
/*--------------FOOTER-----------------*/
/*1rem equivale a 16px asi que 24px/16px =1.5rem*/
.footer{
    color: var(--color-primario);
    background-color: var(--color-terceario);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

/*MEDIA QUERYS */
@media(max-width: 1200px){

    .header{
        padding: 10%;
    }
    .header_menu{
        justify-content:center ;
    }
    .presentacion{
        /*el flex-direction: por defecto esta en 'row'*/
        /* ahora lo cambiamos */
        flex-direction: column-reverse;
        padding: 5%; /*para las laterales al reducir*/
    }
    .presentacion_contenidoñ{
        width: auto; /*se adapta tamaño al mometo de reducir*/
    }
    .presentacion_enlaces_link{
        width: 70%;
        /* padding: auto; */
        /* border: auto; */
    }

}